$colour-primary: rgb(147,86,220);
$colour-secondary: rgb(255,121,218);
$colour-tertiary: #99e2d0;
$colour-darker-tertiary: #357061;
$colour-light-grey: #f6f6f6;
$colour-darker-grey: #eaeaea;
$colour-light-black: #353535;
$colour-light-purple: #f5edff;
$colour-function-icons: #7e7e7e;
$colour-primary-buttons: rgba(147,86,220,.9);
$colour-secondary-buttons: rgba(255,121,218,.9);

